html{
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    width: 90%;
    padding: 0 5%;
    border: none;
}

h1{
    font-size:1.5em;
}

/* Login */

#login_link{
    font-size: 1.7em;
}

#login{
    font-size: 1.3em;
}

/* Header */

#utenteloggato{
    height: 2em;
    font-size: 1em;
}

#logo{
    width: 10em;
}

#header h1{
    font-size: 1.5em;
}

#header p{
    font-size: 1.3em;
}

/* menu */

#page{
	background-color: white;
}

#menu{
    font-size: 1.5em;
    float: none;
    width: 100%;
    text-align: center;
}

/* breadcrumb */

#burgermenu{
    display: block;
    float: right;
    width: 15%;
    height: 5em;
    background-color: #00A86B;
}

.stick{
    background-color: white;
    width: 1em;
    height: 0.5em;
    transition: 0.4s;
}

#stick1, #stick2{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
}

#stick2, #stick3{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13%;
}

#breadcrumb{
    float:left;
    height: 5em;
    width: 85%;
}

#breadcrumb p{
    display: block;
    padding: 1em;
    font-size: 2em;
}

#middle, #middle_galleria{
    margin: 0;
    padding-left: 2%;
    width: 96%;
    border-left: none;
}

#middle p, #middle_galleria p{
    font-size: 1em;
    margin-bottom: 0.5em;
}

#middle img:not(.difficolta):not(#impianti_di_risalita):not(.imgalleria):not(.imgprodotti):not(.imnoleggio){
    display: none;
}

/* biglietti e prezzi */

#tablebiglietti{
    margin: 2%;
    float: left;
    zoom: 1.6;
}

/* Impianti */

#piste_ul{
    padding-left: 3em;
}

#download_cartina{
    font-size: 1.2em;
}

#piste2, #piste1{
    font-size: 1em;
    width: 96%;
    margin: 0.5em 2%;
    zoom: 2.3;
}

#clickfoto{
    display: none;
}

/* footer */

#footer img{
    width: 20%;
    padding: 0;
 }

 #footer p{
    font-size: 1.3em;
 }

/* galleria */

dl#foto dd{
    width: 80%;
    float: none;
    padding-left: 10%;
    padding-right: 10%;
}

/* form registrazione */

#middle h1{
    font-size: 3em;
}

#form_login, #form_registrazione{
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#form_login label, #form_registrazione label, #sesso_form{
    font-size: 2em;
}

/* pagina registrazione e login */


input[type=password], input[type=email], input[type=text]{
    font-size: 2em;
}

input[type=submit], input[type=reset]{
    padding: 1em;
    margin: 1em 0;
    font-size: 2em;
}

input[type=radio]{
    padding-top: 1.5em;
    height: 3em;
    width: 20%;
}