*{
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 12pt;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, Serif;
}
#page{
    width: 100%
}

#breadcrumb p{
    padding-left: 10%;
}

#breadcrumb a:link{
    color: black;
    font-weight: bold;
}

#breadcrumb a:visited{
    color: black;
}

#login_link{
    display: none;
}

#header{
    padding: 1.0em 0em 1.0em 0em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#logo{
    display: none;
}

#header h1{
    font-size: 2.0em;
    margin-left: 0.3em;
}

#breadcrumb{
    padding: 0.3em 0em 0.3em 0em;
    font-size:1.0em;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

#menu{
    display: none;
}

#middle h1{
    text-align: center;
}

#middle, #middle_galleria{
    padding-top: 1em;
    width: 70%;
    margin-left: 15%;
}

#middle p{
    display: inherit;
}

#middle .immagini_middle_home{
    display: none;
}

#middle img{
    display: none;
}

/* chi siamo */

#Recapiti_lista{
    list-style-type: none;
    text-align: center;
}

#link_comeraggiungerci{
    display: none;
}

/* come raggiungerci */

#come_raggiungerci_lista{
    list-style-type: none;
}

.distanze{
    list-style-type: circle;
}

abbr{
    text-decoration: none;
}

/* piste */

table, th, td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

/* galleria */

#foto dd{
	width: 42%;
	float: left;
	padding: 1em;
	min-height: 14em;
	display: block;
}

#foto dd img{
	width: 100%;
}

#foto dt{
    width: 100%;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0.3em;
	display: block;
}

#middle_galleria p{
    font-size: 1em;
    line-height: 1.5em;
}

dl #foto{
	width: 100%;
	margin: 0.5%;
	display: inline-block;
}

.successivo{
    page-break-before: always;
    clear: both;
    padding-top: .5em;
    font-size: 1em;
    font-weight: bold;
}

/* Impianti */

#download_cartina{
    display: none;
}

#piste1{
    page-break-before: always;
    float: left;
}

#piste2{
    margin-left: 50%;
}

#footer{
    display: none;
}

#form_login, #form_registrazione{
	height: 100%;
	width: 48%;
	display: block;
}

#form_login{
	float: left;
}

#form_registrazione{
	padding-left: 2%;
	margin-left: 50%;
	border-left: 1px solid #CCC;
}

label{
    float: left;
    padding: 0.5em;
	display: block;
}

input[type=password], input[type=email], input[type=text]{
	width: 60%;
	padding: .5em;
	margin-left: 35%;
	display: block;
	border: 1px solid #ccc;
	/* border-radius: 4px; */
	box-sizing: border-box;
}

input[type=radio]{
	margin-left: .5em;
}

input[type=submit], input[type=reset] {
    width: 30%;
    background-color: White;
    color: black;
    padding: 1em 1.5em;
    margin: .5em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#sesso_form{
	margin-left: 35%;
	margin-bottom: 1em;
}

#middle_form{
	margin-top: 1em;
    margin-left: 1.5em;
}