*{
    margin: 0;
    padding: 0;
}

html, body{
    font-size: 12pt;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, Serif;
}
#page{
    width: 100%
}

#breadcrumb p{
    padding-left: 10%;
}

#breadcrumb a:link{
    color: black;
    font-weight: bold;
}

#breadcrumb a:visited{
    color: black;
}

#login_link{
    display: none;
}

#header{
    padding: 1.0em 0em 1.0em 0em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#logo{
    display: none;
}

#header h1{
    font-size: 2.0em;
    margin-left: 0.3em;
}

#breadcrumb{
    padding: 0.3em 0em 0.3em 0em;
    font-size:1.0em;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}

#menu{
    display: none;
}

#middle h1{
    text-align: center;
}

#middle, #middle_galleria{
    padding-top: 1em;
    width: 70%;
    margin-left: 15%;
}

#middle p{
    display: inherit;
}

#middle .immagini_middle_home{
    display: none;
}

#middle img{
    display: none;
}

/* chi siamo */

#Recapiti_lista{
    list-style-type: none;
    text-align: center;
}

#link_comeraggiungerci{
    display: none;
}

/* come raggiungerci */

#come_raggiungerci_lista{
    list-style-type: none;
}

.distanze{
    list-style-type: circle;
}

abbr{
    text-decoration: none;
}

/* piste */

table, th, td{
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

/* galleria */

#foto dd{
	width: 45%;
	float: left;
	padding: 1em;
	min-height: 16em;
	display: block;
}

#foto dd img{
	width: 100%;
}

#foto dt{
    width: 100%;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0.3em;
	display: block;
}

#middle_galleria p{
    font-size: 1em;
    line-height: 1.5em;
}

dl #foto{
	width: 100%;
	margin: 0.5%;
	display: inline-block;
}

.successivo{
    clear: both;
    padding-top: .5em;
    font-size: 1em;
    font-weight: bold;
}

/* Impianti */

#piste1{
    page-break-before: always;
    float: left;
}

#piste2{
    margin-left: 50%;
}

#footer{
    display: none;
}