*{
    padding: 0em;
    margin: 0em;
}

@font-face{
    font-family: 'Roboto';
    src:local('Roboto') 
        url(../font/Roboto_Regular.ttf) format("truetype"),
        url(../font/Roboto_Thin.ttf) format("truetype");
    font-weight: normal;
	font-style: normal;
}

html, body{
    max-width: 1268px;
    margin: auto;
    font-family: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
    font-size: 100%;
    background-size: 100% auto;
}

body{
    border: 1px solid #DDD;   
    margin-left:auto;
    margin-right:auto;
    width: 80%;
}

#logo{
    float:left;
    width: 12em;
    margin: 0.5em;
}

/*header*/

#header{
    font-family: 'Roboto_Thin', Helvetica, Verdana, Arial;
    overflow: auto;
    text-align: center;
    color: #1d4e7c;
}

#header h1{
    font-size: 2.7em;
    margin-top: 1em;
}

#header p{
    font-size: 2em;
    font-style: oblique;
}

/*breadcrumb*/

#breadcrumb{
    height: 2em;
    background-color: #00A86B;
    border: solid 1px #444;
}

#breadcrumb p{
    color: white;
    font-weight: bold;
    padding: 0.5em;
        
}

/*menu*/

#menu_sito {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
    float: left;
    display: block;
}

#pagina_corrente_home{
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    background-color: darkgrey;
    display: block;
    color: #000;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

#pagina_corrente_foto{
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    border-top: 1px solid #444;
    background-color: darkgrey;
    display: block;
    color: #000;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

#pagina_corrente{
    border: 1px solid #444;
    background-color: darkgrey;
    display: block;
    color: #000;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

#punto_sito a {
    display: block;
    color: #000;
    padding: 0.5em 1.5em;
    text-decoration: none;
}

#punto_sito a.active {
    background-color: #00A86B;
    color: white;
}

#punto_sito a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*middle*/

#middle{
    margin-left: 20%;
    overflow: auto;
    border-left: 1px solid #DDD;
}

#immagini_middle_home{
    margin: 1em;
    float:left;
    width: 30%;
    overflow: auto;
    
}

#middle h1{
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 2.5em;
}

#middle p{
    overflow:auto;
    font-size: 1em;
    line-height: 1.5em;
}

/*footer*/
#footer{
    border-top: 1px solid #DDD;
    text-align:center;
    width:100%;
    max-height: 20%;
}

#html{
    float: left;
    min-width: 3.5em;
    width: 8%;
    margin:0.7em;
}

#css{
    float: right;
    min-width: 3.5em;
    width: 8%;
    margin:0.7em;
}

#footer p{
    display: block;
    font-size: 0.8em;
    font-style: italic;
    width: 84%;
}

/*chi siamo*/

#piste{
    margin: 1em;
    float: left;
    width: 50%;
}

#recapiti{
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    font-size: 0.5em;
}

