*{
	padding: 0em;
	margin: 0em;
}

@font-face{
	font-family: 'Roboto';
	src:source('Roboto'),
		url(../font/Roboto_Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@media screen and (min-width: 1025px) {
    #menu{display:block;}
    #menu_mobile{display:none;}
}

@media screen and (max-width: 1024px) {
    #menu{display:none;}
    #btn{display:block;}
}

html, body{
	max-width: 1268px;
	margin: auto;
	font-family: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
	font-size: 100%;
	background-size: 100% auto;
}

body{
	border: 1px solid #DDD;   
	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

ul{
	padding-left: 1em;
	list-style-type: none;
}

li{
	padding-top: 0.2em;
}

td{
	border: 1px solid black;
	padding-left: 0.5em;
	height: 1.65em;
}

#logo{
	float:left;
	width: 13em;
}

/* login */
#login_link{
	overflow: hidden;
	background-color: #1d4e7c;
}

#login_link a{
	float: right;
	padding: 0.5em 1em 0.5em 0.5em;
	display: block;
	vertical-align: top;
	color: white;
}

/*header*/

#header{
	font-family: 'Roboto', Helvetica, Verdana, Arial;
	overflow: auto;
	text-align: center;
	color: #1d4e7c;
}

#header h1{
	font-size: 2.5em;
	margin-top: 0.5em;
}

#header p{
	font-size: 1.7em;
	font-style: oblique;
}

/*breadcrumb*/

#breadcrumb{
	height: 2em;
	background-color: #00A86B;
}

#breadcrumb p{
	color: white;
	font-weight: bold;
	padding-top: 0.4em;
	padding-left: 1em;
	display: inline-block;
}

/*menu*/

#menu{
	background-color: #f1f1f1;
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	min-height: 500px;
	overflow: auto;
	display: block;
}

#menu_sito {
	margin: 0;
	padding:0;
}

#pagina_corrente{
	background-color: #1d4e7c;
	display: block;
	color: white;
	padding: 0.5em 1.5em;
	text-decoration: none;
}

.punto_sito a {
	display: block;
	/*color: #000;*/
	padding: 0.5em 1.5em;
	text-decoration: none;
}

.punto_sito a.active {
	background-color: #00A86B;
	color: white;
}

.punto_sito a:hover {
	background-color: #555;
	color: white;
}

/*middle*/

#middle{
	width: 76%;
	margin-right: 5%;
	margin-left: 20%;
	padding-left: 2%;
	border-left: 1px solid #DDD;
	padding-bottom: 0.5em;
}

.immagini_middle_home{
	margin: 1em;
	float:left;
	width: 30%;
	overflow: auto;    
}

#middle h1{
	color: #1d4e7c;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 2em;
}

#middle p{
	font-size: 1em;
	line-height: 1.5em;
}

/*footer*/
#footer{
	display: inline-block;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	width:100%;
}

#html{
	float: left;
	width: 5em;
	padding: 1em;
}

#footer p{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.8em;
	font-style: italic;
	text-align:center;
	width: 70%;
	padding-left: 15%;
}

#css{
	float: right;
	width: 5em;
	padding: 1em;

}

/*chi siamo*/

#piste{
	float: left;
	width: 50%;
	padding-right: 1em;
}

#recapiti{
	text-align: center;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 0.5em;
}

#link_comeraggiungerci{
	padding: 0.5em; 
	display: block;
	text-align: center;
}

#Recapiti_lista{
	text-align: center;
}
/* Come raggiungerci */

#immagine_arrivi{
	padding-left: 15%;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 70%;
}

.h2_distanze{
	color: #1d4e7c;
	padding: 0.3em;
	text-align: center;
	font-size: 1.5em;
}

.h3_distanze{
	color: #2b2785;
}

#come_raggiungerci_p{
	padding: 0.5em;
	font-weight: bolder;
}

/* liste */
#come_raggiungerci_lista{
	list-style-type: none;
}

.distanze{
	padding-bottom: 1em;
	padding-left: 3em;
	line-height: 1.5em;
}

.distanze li{    
	list-style-type: square;
}

/*biglietti & prezzi*/

#tablebiglietti{
	width: 80%;
	margin-left: 8%;
	margin-right: 10%;
	background-color: #E9E9E9;
	border-collapse: collapse;
}

th{
	border: 1px solid black;
	background-color: #00A86B;
	padding: 0.3em;
	color: white;
}

#tablebiglietti td{
	text-align: center;
	border: 1px solid black;
	padding: 0.3em;
}

table caption{
	color: #1d4e7c;
	padding-top: 0.5em;
	text-align: center;
	padding-bottom: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}

/*Impianti*/

.difficolta{
	width: 1em;
	float: left;
	padding-right: 0.2em;
}

#piste1{
	float: left;
}

#piste2{
	margin-left: 50%;
}

#piste1 td, #piste2 td{

}

#piste1, #piste2{
	width: 48%;
	border-collapse: collapse;
	margin-bottom: 1em;
	margin-top: 0.5em;
}

#impianti_di_risalita{
	width: 98%;
	padding-top: 1em;
	padding-bottom: 1em;
}

#piste_ul{
	list-style-type: square;
}

/*Galleria*/

dl#foto dd{
	width: 30%;
	float: left;
	padding: 0.6em;
	min-height: 14em;
	display: block;
}

dl#foto dd img{
	width: 100%;
}

dl#foto dt{
	color: #1d4e7c;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0.3em;
	display: block;
}

dd p{
	width: 90%;
	margin-left: 5%;
	font-size: 0.8em;
	color: #555;
	text-align: center;
}

dl#foto{
	width: 100%;
	margin: 0.5%;
	display: inline-block;
}

.successivo{
	clear: both;
	padding-top: 1em;
	font-size: 1em;
	font-weight: bold;
}

/* login_pagina */

h1{
	font-size: 1.5em;
	color:#1d4e7c;
}

#login #registrazione{
	text-align: left;
	margin-left: 2em;
}

input[type=text]{
    width: 30%;
    padding: .5em 1em;
    margin: 0.5ex 0;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-radius: 4px;
    box-sizing: border-box; */
}

input[type=password]{
    width: 30%;
    padding: .5em 1em;
    margin: 0.5ex 0;
    display: inline-block;
    border: 1px solid #ccc;
    /* border-radius: 4px;
    box-sizing: border-box; */
}

input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]{
	width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1d4e7c;
}

#middle_form{
	margin-top: 1em;
    margin-left: 1em;
}