*{
	padding: 0em;
	margin: 0em;
}

@font-face{
	font-family: 'Roboto';
	src: url(../font/Roboto_Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

/*@media screen and (min-width: 1024px) {      non dovrebbe servire perchè basta dare diversi stili allo stesso menu, lascio qua per avere un backup
    #menu{display:block;}
    #menu_mobile{display:none;}
}

@media screen and (max-width: 1023px) {
    #menu{display:none;}
    #btn{display:block;}
}*/

html, body{
	max-width: 1268px;
	margin: auto;
	font-family: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
	font-size: 100%;
	background-size: 100% auto;
}

body{
	border: 1px solid #CCC; 
	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

ul{
	padding-left: 1em;
	list-style-type: none;
}

li{
	padding-top: 0.2em;
}

td{
	border: 1px solid black;
	padding-left: 0.5em;
	height: 1.65em;
}

#logo{
	float:left;
	width: 13em;
}

/* pulsante login */
#login_link, #utenteloggato{
	overflow: hidden;
	background-color: #1d4e7c;
}

#utenteloggato p{
	float: right;
	padding: 0.5em 1em 0.5em 0.5em;
	vertical-align: top;
}

#login_link a, #utenteloggato a{
	float: right;
	padding: 0.5em 1em 0.5em 0.5em;
	display: block;
	color: white;
}

/*header*/

#header{
	font-family: 'Roboto', Helvetica, Verdana, Arial;
	overflow: auto;
	text-align: center;
	color: #1d4e7c;
}

#header h1{
	font-size: 2.5em;
	margin-top: 0.5em;
}

#header p{
	font-size: 1.7em;
	font-style: oblique;
}

/*breadcrumb*/

#breadcrumb{
	height: 2em;
	background-color: rgb(6, 70, 46);
}

#breadcrumb p{
	color: white;
	font-weight: bold;
	padding-top: 0.4em;
	padding-left: 1em;
	display: inline-block;
}

#burgermenu{
	display: none;
}

#page{
	background-color: #f1f1f1;
	border-top: 1px solid #CCC;
}

/*menu*/

#menu{
	background-color: #f1f1f1;
	float: left;
	list-style-type: none;
	margin: 0;
	width: 20%;
	overflow: auto;
	display: block;
}

#menu_sito {
	margin: 0;
	padding: 0;
}

.punto_sito{
	margin: 0;
	padding: 0;
}

#pagina_corrente{
	background-color: #1d4e7c;
	display: block;
	color: white;
	padding: 0.5em 1.5em;
}

.punto_sito a {
	display: block;
	/*color: #000;*/
	padding: 0.5em 1.5em;
}

.punto_sito a.active {
	background-color: #00A86B;
	color: white;
}

.punto_sito a:hover {
	background-color: #555;
	color: white;
}

/*middle*/

#middle{
	background-color: white;
	width: 76%;
	min-height: 16em;
	padding-right: 1.9%;
	margin-left: 20%;
	padding-left: 2%;
	border-left: 1px solid #CCC;
}

.immagini_middle_home{
	margin: 1em;
	float:left;
	width: 40%;
	overflow: auto;    
}

#middle h1{
	color: #1d4e7c;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 2em;
}

#middle p{
	font-size: 1em;
	line-height: 1.5em;
}

/*footer*/
#footer{
	display: inline-block;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	width:100%;
}

#html{
	float: left;
	width: 5em;
	padding: 1em;
}

#footer p{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.8em;
	font-style: italic;
	text-align:center;
	width: 70%;
	padding-left: 15%;
}

#css{
	float: right;
	width: 5em;
	padding: 1em;

}

#torna_su{
	float: right;
	padding: 0.5em;
	display: inline-block;
	width: 50%;
	text-align: right;
}

/*chi siamo*/

#piste{
	float: left;
	width: 50%;
	padding-right: 1em;
}

#recapiti{
	text-align: center;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 0.5em;
}

#link_comeraggiungerci{
	padding: 0.5em; 
	display: block;
	text-align: center;
}

#Recapiti_lista{
	text-align: center;
}
/* Come raggiungerci */

#immagine_arrivi{
	padding-left: 15%;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 70%;
}

.h2_distanze{
	color: #1d4e7c;
	padding: 0.3em;
	text-align: center;
	font-size: 1.5em;
}

.h3_distanze{
	color: #2b2785;
}

#come_raggiungerci_p{
	padding: 0.5em;
	font-weight: bolder;
}

/* liste */
#come_raggiungerci_lista{
	list-style-type: none;
}

.distanze{
	padding-bottom: 1em;
	padding-left: 3em;
	line-height: 1.5em;
}

.distanze li{    
	list-style-type: square;
}

/*biglietti & prezzi*/

#tablebiglietti{
	width: 80%;
	margin-left: 8%;
	margin-right: 10%;
	background-color: #E9E9E9;
	border-collapse: collapse;
}

th{
	border: 1px solid black;
	background-color: #00A86B;
	padding: 0.3em;
	color: white;
}

#tablebiglietti td{
	text-align: center;
	border: 1px solid black;
	padding: 0.3em;
}

table caption{
	color: #1d4e7c;
	padding-top: 0.5em;
	text-align: center;
	padding-bottom: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}

/*Impianti*/

#download_cartina{
	display: block;
	text-align: center;
	font-size: 1.5em;
	padding-bottom: 0.5em;
}

.difficolta{
	width: 1em;
	float: left;
	padding-right: 0.2em;
}

#piste1{
	float: left;
}

#piste2{
	margin-left: 50%;
}

#piste1, #piste2{
	width: 48%;
	border-collapse: collapse;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

#impianti_di_risalita{
	width: 98%;
	padding-top: 1em;
	padding-bottom: 1em;
}

#piste_ul{
	list-style-type: square;
}

.cat_piste{
	width: 30%;
}

.difficolta{
	display: block;
}

/*Galleria*/

#foto dd{
	width: 30%;
	float: left;
	padding: 0.6em;
	min-height: 14em;
	display: block;
}

#foto dd img{
	width: 100%;
}

#foto dt{
	color: #1d4e7c;
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0.3em;
	display: block;
}

#middle dd p{
	width: 90%;
	margin-left: 5%;
	font-size: 0.8em;
	color: #555;
	text-align: center;
}

#foto{
	width: 100%;
	margin: 0.5%;
	display: inline-block;
}

.successivo{
	clear: both;
	font-size: 1em;
	font-weight: bold;
}

/* login_pagina */

#form_login, #form_registrazione{
	height: 100%;
	width: 48%;
	display: block;
}

#form_login{
	float: left;
}

#form_registrazione{
	padding-left: 2%;
	margin-left: 50%;
	border-left: 1px solid #CCC;
}

label{
	padding-top: 0.4em;
	float: left;
	display: block;
}

input[type=password], input[type=email], input[type=text]{
	width: 60%;
	padding: .5em;
	margin-left: 35%;
	display: block;
	border: 1px solid #ccc;
	/*box-sizing: border-box;*/
}

input[type=radio]{
	margin-left: .5em;
}

input[type=submit], input[type=reset] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 1em 1.5em;
    margin: 1em 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1d4e7c;
}

#sesso_form{
	margin-left: 35%;
	margin-bottom: 1em;
}

#middle_form{
	margin-top: 1em;
    margin-left: 1.5em;
}

#datanascita {
	width: 65%;
	margin-left: 35%;
	margin-right: 0;
}

#datanascita input{
	width: 20%;
	margin: 0.3em;
	display: inline-block;
}

/* 404 */
#erroreimg{
	float: right;
	width: 50%;
	padding: 1.3em;
	display: block;
}


/* target di dove appare l'immagine cliccata */
.lightbox-target {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: rgba(0,0,0,.7);
	width: 100%;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	overflow: hidden;
}

/* Immagine ingrandita */

.lightbox-target img {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 0%;
	max-width: 0%;
	border: 3px solid white;
	box-shadow: 0px 0px 8px rgba(0,0,0,.3);
	box-sizing: border-box;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* Quando chiudo */

a.lightbox-close {
	display: block;
	width: 3em;
	height: 3em;
	box-sizing: border-box;
	background: white;
	color: black;
	text-decoration: none;
	position: absolute;
	top: -5em;
	right: 0;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
}

/* La X */

a.lightbox-close:before {
	content: "";
	display: block;
	height: 2em;
	width: 1px;
	background: black;
	position: absolute;
	left: 1.5em;
	top: 0.8em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}



a.lightbox-close:after {
	content: "";
	display: block;
	height: 2em;
	width: 1px;
	background: black;
	position: absolute;
	left: 2em;
	top: .8em;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


.lightbox-target:target {
	opacity: 1;
	top: 0;
	bottom: 0;
}

.lightbox-target:target img {
	max-height: 80%;
	max-width: 80%;
}

.lightbox-target:target a.lightbox-close {
	top: 0;
}

/* pagina prodotti */

.prodottonoleggio{
	margin: 0 0 1em 10%;
	width: 80%;
	border-bottom: 1px solid #AAA;
	padding-bottom: 1em;
	padding-top: 1em;
}

.prodottonoleggio img{
	max-width: 90%;
	max-height: 15em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.prodottonoleggio h1{
	color: black;
	text-align: left;
	padding-left: 2em;
}

.prezzoprodotto{
	float: right;
	font-size: 1.5em;
}

/* noleggio attrezzatura */

.iconeprodotti{
	width: 30%;
	margin: 1em 0 1em 12%;
	display: inline-block;
}

.iconeprodotti img{
	width: 100%;
	display: inline-block;
	opacity: 0.7;
}

.iconeprodotti p{
	background-color: #1d4e7c;
	padding: 0.3em 10%;
	width: 80%;
	color: white;
	display: block;
}

.iconeprodotti img:hover{
	opacity: 1.0;
}
