*{
	padding: 0em;
	margin: 0em;
}

@font-face{
	font-family: 'Roboto';
	src:local('Roboto') 
		url(../font/Roboto_Regular.ttf) format("truetype"),
		url(../font/Roboto_Thin.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

html, body{
	max-width: 1268px;
	margin: auto;
	font-family: 'Roboto', Helvetica, Verdana, Arial, sans-serif;
	font-size: 100%;
	background-size: 100% auto;
}

body{
	border: 1px solid #DDD;   
	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

ul{
	padding-left: 1em;
}

li{
	list-style-type: none;
}

#logo{
	float:left;
	width: 12em;
	margin: 0.5em;
}

/*header*/

#header{
	font-family: 'Roboto_Thin', Helvetica, Verdana, Arial;
	overflow: auto;
	text-align: center;
	color: #1d4e7c;
}

#header h1{
	font-size: 2.7em;
	margin-top: 1em;
}

#header p{
	font-size: 2em;
	font-style: oblique;
}

/*breadcrumb*/

#breadcrumb{
	height: 2em;
	background-color: #00A86B;
}

#breadcrumb p{
	color: white;
	font-weight: bold;
	padding-top: 0.3em;
	padding-left: 2em;
}

/*menu*/

#menu_sito {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
	background-color: #f1f1f1;
	height: 100%;
	overflow: auto;
	float: left;
	display: block;
}

#pagina_corrente{
	background-color: #1d4e7c;
	display: block;
	color: white;
	padding: 0.5em 1.5em;
	text-decoration: none;
}

.punto_sito a {
	display: block;
	color: #000;
	padding: 0.5em 1.5em;
	text-decoration: none;
}

.punto_sito a.active {
	background-color: #00A86B;
	color: white;
}

.punto_sito a:hover:not(.active) {
	background-color: #555;
	color: white;
}

/*middle*/

#middle{
	margin-left: 20%;
	padding-left: 2%;
	border-left: 1px solid #DDD;
	padding-bottom: 0.5em;
}

.immagini_middle_home{
	margin: 1em;
	float:left;
	width: 30%;
	overflow: auto;    
}

#middle h1{
	color: #1d4e7c;
	text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	font-size: 2em;
}

#middle p{
	margin-right: 0.5em;
	font-size: 1em;
	line-height: 1.5em;
}

/*footer*/
#footer{
	display: inline-block;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	width:100%;
}

#html{
	float: left;
	width: 5em;
	padding: 1em;
}

#footer p{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.8em;
	font-style: italic;
	text-align:center;
	width: 70%;
	padding-left: 15%;
}

#css{
	float: right;
	width: 5em;
	padding: 1em;

}

/*chi siamo*/

#piste{
	float: left;
	width: 50%;
	padding-right: 1em;
}

#recapiti{
	text-align: center;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-size: 0.5em;
}

#link_comeraggiungerci{
	padding: 0.5em; 
	display: block;
	text-align: center;
}

#Recapiti_lista{
	text-align: center;
}

/* Come raggiungerci */

#immagine_arrivi{
	padding-left: 15%;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 70%;
}

.h2_distanze{
	color: #1d4e7c;
	padding: 0.3em;
	text-align: center;
	font-size: 1.5em;
}

.h3_distanze{
	color: #2b2785;
}

#come_raggiungerci_p{
	padding: 0.5em;
	font-weight: bolder;
}

/* liste */
#come_raggiungerci_lista{
	list-style-type: square;
}

.distanze{
	padding-bottom: 1em;
	padding-left: 3em;
	line-height: 1.5em;
}

.distanze li{    
	list-style-type: square;
}

/*biglietti & prezzi*/

table{
	width: 80%;
	margin-left: 8%;
	margin-right: 10%;
	background-color: #E9E9E9;
	border-collapse: collapse;
}

th{
	border: 1px solid black;
	background-color: #00A86B;
	padding: 0.3em;
	color: white;
}

td{
	text-align: center;
	border: 1px solid black;
	padding: 0.3em;
}

table caption{
	color: #1d4e7c;
	padding-top: 0.5em;
	text-align: center;
	padding-bottom: 0.5em;
	font-size: 1.5em;
	font-weight: bold;
}
